html, body{
    margin:0;
}
#navbar{
    height:10vh;
    width:100vw;
    position:fixed;
    background-color:black;
    z-index:1;
}

p{
    margin:0;
}

#section1{
    height:100vh;
    background-color:azure;
}

#section1-left{
    height:100vh;
    width:50vw;
    background-color:red;
}

#section1-right{
    height:100vh;
    width:50vw;
    background-color:blue;
    position:relative;
    left:50vw;
    top:-100vh;
}